{% extends "base.html" %}

{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block username %} {{ user }} {% endblock %}

{% block contenido %} 
<div class="admin-dashboard mt-4">
    <h1 class="text-center">Panel de Inicio</h1>
    <hr>
    <!-- Resumen de Inventario -->
    <section class="inventory-summary">
      <div class="summary-box total-products">
        <h3>Productos Totales</h3>
        <p>{{ productos.count }}</p>
      </div>
      <div class="summary-box low-stock">
        <h3>Stock Bajo</h3>
        <p>{{ low_stock_count }}</p>
      </div>
    </section>
    <div class="d-flex justify-content-center">
    <!-- Enlaces rápidos -->
    <section class="quick-links">
      <a href="{% url 'producto_create' %}" class="btn-add-product"
        >Subir nueva infoproducto</a
      >
      <a href="{% url 'productos' %}" class="btn-view-inventory"
        >Ver Todos los infoproducto</a
      >
    </section>
   </div>
    <!-- Lista de productos recientes -->
    <section class="recent-products">
      <h2 class="text-center">Últimos Productos Agregados</h2>
      <table class="table-recent-products">
        <thead>
          <tr>
            <th>Producto ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos|slice:":3" %}
          <tr>
            <td>{{ producto.ProductoId }}</td>
            <td>{{ producto.Nombre }}</td>
            <td>{{ producto.Descripcion }}</td>
            <td>${{ producto.Precio }}</td>
            <td>{{ producto.Cantidad }}</td>
            <td>{{ producto.Estado|yesno:"Activo,Inactivo" }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">No hay productos recientes.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
  
{% endblock %}